/* Universal Selector */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Selectors from Lab */
#page-wrapper {
    background-color: #FBFBFB;
    margin: 0 auto;
    width: 80vw;
}

#nav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    width: 30%;
    background-color: #E8F9FF;
}

main {
    height: 100vh;
    width: 70%;
    text-align: center;
    font-size: calc(2px + 2vw);
}

main * {
    margin: 2% 0;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    border: 5px solid #C5BAFF;
    width: 80%;
    margin: 5% auto;
}

nav a {
    font-size: calc(2px + 2vw);
    color: #C4D9FF;
    text-decoration: none;
}

/* Example of Navigation Bar Selectors From Class*/
/* nav {
    background-color: black;
    padding: 5px;
    width: 30%;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 5px;
    border-right: 2px solid grey;
}

nav a {
    text-decoration: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #939b9f;
}

*/