/* Universal Selector */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Selectors from Lab */
#page-wrapper {
    background-color: #3BC1A8;
    margin: 0 auto;
    width: 80vw;
}

header {
    text-align: left;
}

#nav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    width: 30%;
    background-color: #249E94;
}

main {
    height: 100vh;
    width: 70%;
    text-align: center;
    font-size: calc(2px + 2vw);
}

main * {
    margin: 2% 0;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    border: 5px solid #0C7779;
    width: 80%;
    margin: 5% auto;
}

nav a {
    font-size: calc(2px + 2vw);
    color: #005461;
    text-decoration: none;
}

/* Negative result color */
#negative {
    color: red;
}

/* Example of Navigation Bar Selectors From Class*/
/* nav {
    background-color: black;
    padding: 5px;
    width: 30%;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 5px;
    border-right: 2px solid grey;
}

nav a {
    text-decoration: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #939b9f;
}

*/

@media screen and (max-width: 1000px) {
    #nav-main {
        flex-direction: column;
    }

    nav,
    main {
        width: 100%;
    }

    main {
        height: 100vh;
    }
}

@media screen and (max-width: 750px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav li {
        width: 18%;
        padding: 1%;
        margin: 1%;
    }

    header {
        text-align: center;
    }
}